{% extends "concepteur/templateConcepteur.php.twig" %}

{% block styles %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <link rel="stylesheet" href="{{ asset('Joueur/CSS/map.css') }}">
{% endblock %}
{% block scripts %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script type="text/javascript" src="{{ asset('Joueur/JS/iconsColors.js') }}"></script>
{% endblock %}

{% block main %}

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.nomaventure) }}
            {{ form_widget(form.nomaventure, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.texteaventure) }}
            {{ form_widget(form.texteaventure, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.Ajouter, {'attr': {'class': 'btn btn-success btn-block'}}) }}
        </div>
    {{ form_end(form) }}


{% endblock %}
