{% extends "concepteur/templateConcepteur.php.twig" %}

{% block styles %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <link rel="stylesheet" href="{{ asset('Joueur/CSS/map.css') }}">
{% endblock %}
{% block scripts %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script type="text/javascript" src="{{ asset('Joueur/JS/iconsColors.js') }}"></script>
{% endblock %}

{% block main %}

    {{ form_start(form) }}
        {{ form_row(form.nometape) }}
        {{ form_row(form.idquestion) }}
        {{ form_row(form.idfilm) }}
        {{ form_row(form.posxqrcode) }}
        {{ form_row(form.posyqrcode) }}
        {{ form_row(form.Ajouter) }}
    {{ form_end(form) }}
    <h3>Générer le qr code</h3>
    <div class="col-md-6">
    {{ form_start(formqr) }}
        {{ form_row(formqr.etape) }}
        <hr>
        <button type="submit" class="btn btn-success btn-block">G&#xE9;n&#xE9;rer QR code</button>
    {{ form_end(formqr) }}
    </div>
    <div class="col-md-6">
    {% if qrCode %}
        <img src="{{ qrCode }}" alt="qr-code">
    {% endif %}
    </div>
    <h1 style="color:white;">z</h1>


{% endblock %}
