<!DOCTYPE html>
<html lang ="fr">
<head>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>navbar</title>
    <link rel="icon" type="image/ico" href="{{ asset('icons/faticon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    
</head>
<body>

<nav class="navbar fixed-bottom navbar-dark bg-primary">
    <a class="navbar-brand" href="/concepteur">
        <image src="{{ asset('projet/templates/concepteur/home.png') }}" width="50" height="50" alt="">
    </a>
    <a class="navbar-brand" href="/concepteur">
        <image src="{{ asset('projet/templates/concepteur/question.png') }}" width="50" height="50" alt="">
    </a>
    <a class="navbar-brand" href="/concepteur">
        <image src="{{ asset('projet/templates/concepteur/etape.png') }}" width="50" height="50" alt="">
    </a>
    <a class="navbar-brand" href="/concepteur">
        <image src="{{ asset('projet/templates/concepteur/aventure.png') }}" width="50" height="50" alt="">
    </a>
    
    </button>
</nav>

</body>
</html>