{% extends "/admin/templateAdmin.php.twig" %}
{% block main %}
{{ form_start(editEquipe) }}


{{form_label(editEquipe.nomEquipe, "Nom d\'équipe")}}
{{form_widget(editEquipe.nomEquipe, {'attr': {'class': 'form-control'}}) }}


{{ form_label(editEquipe.joueur, "Joueur Associé") }}
{{ form_widget(editEquipe.joueur, { 'attr': {'class': 'form-control form-check'} }) }}

{{ form_label(editEquipe.nomJoueurs, "Nom des Joueur supplementaire") }}
{{ form_widget(editEquipe.nomJoueurs, { 'attr': {'class': 'form-control'} }) }}


<button type="submit" class="btn btn-lg btn-primary bouton_important">Edit</button>
{{ form_end(editEquipe) }}
{% endblock %}