{% extends "/admin/templateAdmin.php.twig" %}
{% block main %}
{{ form_start(editUser) }}


{{form_label(editUser.username, "Nom d\'utilisateur")}}
{{form_widget(editUser.username, {'attr': {'class': 'form-control'}}) }}

{{form_label(editUser.email, "Adresse e-mail")}}
{{form_widget(editUser.email, {'attr': {'class': 'form-control'}}) }}

{{ form_label(editUser.roles, "roles") }}
{{ form_widget(editUser.roles, { 'attr': {'class': 'form-control form-check'} }) }}

{{ form_label(editUser.isVerified, "Utilisateur verifié") }}
{{ form_widget(editUser.isVerified, { 'attr': {'class': 'form-control', 'style': 'margin: 4px'}}) }}


<button type="submit" class="btn btn-lg btn-primary bouton_important">Edit</button>
{{ form_end(editUser) }}
{% endblock %}